@model Film

<div class="card" style="width: 10rem;">
    <img src="@Model.Cover" height="150" class="card-img-top" alt="Movie Cover">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            <div>Genre: @Model.Genre</div>
            <div>Duration: @Model.Duration</div>
        </p>
    </div>
</div>
