@model Film

<h1>Create New Film</h1>

<form class="row g-3" asp-action="Create" method="post">
    <div class="col-md-6">
        <label class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Enter name">
    </div>
    <div class="col-md-6">
        <label class="form-label">Genre</label>
        <input asp-for="Genre" type="text" class="form-control" placeholder="Enter Genre">
    </div>
    <div class="col-md-3">
        <label class="form-label">Year</label>
        <input asp-for="Year" type="number" class="form-control" placeholder="Enter year">
    </div>
    
    <div class="col-md-3">
        <label class="form-label">Duration</label>
        <input asp-for="Duration" type="number" class="form-control" placeholder="Enter duration">
    </div>
    <div class="col-md-12">
        <label class="form-label">Cover</label>
        <input asp-for="Cover" type="url" class="form-control" placeholder="Enter cover url">
    </div>

    <div class="col-md-6">
        <button type="submit" class="btn btn-primary w-100">Create</button>
    </div>
    <div class="col-md-6">
        <a asp-action="Index" class="btn btn-dark w-100">Back</a>
    </div>
</form>
